.range-slider
    p 
        label(for="amount") Диапазон цены
        input(type="text" id="amount" readonly).range-slider__price
    .slider
        .ui-slider-range.ui-corner-all
        span(tabindex="0").ui-slider-handle.ui-corner-all.ui-state-default 
        span(tabindex="0").ui-slider-handle.ui-corner-all.ui-state-default
