.block-slider
    .sliderwrapper
        .slides 
            img(src="/src/img/image-number-1.png", alt="1").slide-img.slide-img-1.slide-block
            img(src="/src/img/image-number-2.png", alt="2").slide-img.slide-img-2
            img(src="/src/img/image-number-3.png", alt="3").slide-img.slide-img-3
            img(src="/src/img/image-number-4.png", alt="4").slide-img.slide-img-4
        //- ul.sliderwrapper 
        //-     li.number-slider
        //-         img(src="/src/img/image-number-1.png", alt="1").slide-img.slide-img-1 
        //-     li.number-slider
        //-         img(src="/src/img/image-number-2.png", alt="2").slide-img.slide-img-2 
        //-     li.number-slider
        //-         img(src="/src/img/image-number-3.png", alt="3").slide-img.slide-img-3 
        //-     li.number-slider
        //-         img(src="/src/img/image-number-4.png", alt="4").slide-img.slide-img-4
        .prev-next-btns 
            .prev-btn 
            .next-btn 
        ul.slider-dots
            li.slider-dots__nav.slider-dots__nav-1
            li.slider-dots__nav.slider-dots__nav-2
            li.slider-dots__nav.slider-dots__nav-3
            li.slider-dots__nav.slider-dots__nav-4