header 
    .header 
        a.logo(href="/src/views/index.html")
            img(src="/src/img/logo.svg", alt="logo") 
        nav.nav 
            ul.nav-list 
                li.nav-item
                    a(href="").nav-link.nav-linc__about О нас
                li.nav-item
                    a(href="").nav-link Услуги
                        img(src="/src/img/expand_more.svg", alt="expand_more")
                li.nav-item
                    a(href="").nav-link Вакансии
                li.nav-item
                    a(href="").nav-link Новости
                li.nav-item
                    a(href="").nav-link Соглашения
                        img(src="/src/img/expand_more.svg", alt="expand_more")
                .login 
                    - const islogin = false;
                    if islogin
                        a(href="").login-user Юлий цезарь
                    else
                        a(href="/src/views/sign-in.html").login-btn.btn.btn-clear войти
                        a(href="/src/views/reg.html").login-btn.btn зарегистрироваться
