doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../scss/_normalize.css")
        link(rel="stylesheet", href="../scss/style.css")
    body 
        include ../html/header/header
        .block-content
            p.block-content__text Лучшие номера для вашей работы, отдыха и просто вдохновения
        include ../html/footer/footer