section.signin 
    .signin__container
        form(action="", method="get").signin__form
            h1.signin__form-heading Зарегистрироваться
            input(type="text" placeholder="Email").signgin__form-input.text_field
            input(type="text" placeholder="Пароль").signin__form-input.text_field
            .signin__btn.form__btn-long
                button.btn-long Перейти к оплате
                span.btn-icon
                    <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 0.541992L17.0156 8.55762L9 16.5732L7.59375 15.167L13.1719 9.54199H0.984375V7.57324H13.1719L7.59375 1.94824L9 0.541992Z" fill="white"/>
                    </svg>
            .signin__form-createakk 
                p.signin__form-createakk-text Уже есть аккаунт на Toxin?
                a.signin__form-createakk-btn.btn.btn-clear Создать