.btn {
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    border: 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    z-index: 34;
}