.btn-clear {
    position: relative;
    padding: 8px 18px;
    $border: 2px;
    color: #BC9CFF;
    background: #fff;
    background-clip: padding-box;
    border: solid $border;
    border-radius: 22px;

    &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -$border;
        border-radius: inherit;
    }
}