.datepicker 
    .datepicker-start
        label(for="") Прибытие
        input(type="text" id="datepicker_1" placeholder="ДД.ММ.ГГГГ" autocomplete="off")
    .datepicker-end
        label(for="") Выезд
        input(type="text" id="datepicker_2" placeholder="ДД.ММ.ГГГГ" autocomplete="off")