.form-search 
    form(action="").form-container
        h2.form-search__text Найдём номера под ваши пожелания
        include ../datepicker/datepicker
        .form-search__guests
            include ../dropdown/dropdown
        button(type="submit").form-search__btn.btn Подобрать номер
        .out