.block-content {
    padding: 70px 140px 18px 140px;
    height: 830px;
    background-image: url(/src/img/image-content-1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    & .block-content__text {
        position: relative;
        margin-left: auto;
        width: 297px;
        top: 40%;
    }
}