@import "fonts/fonts";

* {
    box-sizing: border-box;
}  

html {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

@import "button/btn";
@import "button/btn_clear";
@import "button/btn_long";
@import "text_field/text_field";

// Block Header
@import "header/header";

// Block Content
@import "block_content/block_content";

@import "form_search/form_search";
@import "datepicker/datepicker";
@import "dropdown/dropdown";
@import "range-slider/range-slider";
@import "checkbox-buttons/checkbox-buttons";
@import "checkbox-list/checkbox-list";
@import "rating/rating";
@import "number/number";
@import "number-slider/number-slider";
@import "sign-in/sign-in";
@import "reg/reg";

// Block search-room
@import "search-room/search-room";

// Block Footer
@import "footer/footer";
