/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v23-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v23-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v23-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v23-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  border: 0;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  z-index: 34;
}

.btn-clear {
  position: relative;
  padding: 14px 20px;
  color: #BC9CFF;
  background: #fff;
  background-clip: padding-box;
  border: solid 2px;
  border-radius: 22px;
}

.btn-clear:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
}

.form__btn-long {
  position: relative;
}

.btn-icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  bottom: 0;
  right: 0.875rem;
  width: 1rem;
  cursor: pointer;
}

.btn-long {
  display: inline-block;
  width: 100%;
  height: 44px;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  border: 0;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  z-index: 34;
}

.text-field {
  display: block;
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #1F2041;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.text-field::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #1F2041;
  opacity: .25;
}

.text-field:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #1F2041;
  opacity: .25;
}

.text-field::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #1F2041;
  opacity: .25;
}

.text-field::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #1F2041;
  opacity: .25;
}

.text-field:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(158, 158, 158, 0.25);
          box-shadow: 0 0 0 0.1rem rgba(158, 158, 158, 0.25);
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.text-field:hover {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(158, 158, 158, 0.25);
          box-shadow: 0 0 0 0.1rem rgba(158, 158, 158, 0.25);
  border: 1px solid rgba(31, 32, 65, 0.5);
}

/* Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  margin: auto;
  padding: 18px 140px 18px 140px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 20px;
}

.nav-btn:not(:last-child) {
  margin-right: 20px;
}

.nav-item img {
  margin-left: 5px;
}

.nav-link {
  color: #1F2041;
  opacity: .5;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.nav-linc__about {
  font-weight: 700;
  opacity: 1;
}

.login-btn:not(:last-child) {
  margin-right: 20px;
}

.login-user {
  padding: 6px 0 6px 20px;
  color: #1F2041;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border-left: 1px solid rgba(31, 32, 65, 0.1);
}

.login-btn {
  padding: 10px 18px;
}

.block-content {
  padding: 70px 140px 18px 140px;
  height: 830px;
  background-image: url(/src/img/image-content-1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.block-content .block-content__text {
  position: relative;
  margin-left: auto;
  width: 297px;
  top: 40%;
}

.form-search {
  width: 380px;
  height: 374px;
  padding: 40px 30px 30px 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 36;
}

.form-search .form-search__guests {
  margin-top: 20px;
}

.form-search .form-search__guests-label {
  display: block;
}

.form-search .form-search__btn {
  margin-top: 31px;
}

.form-search .form-search__text {
  margin-top: 0;
  margin-bottom: 21px;
}

.form-search > label {
  font-weight: 700;
  font-size: 12px;
  color: #1F2041;
  text-transform: uppercase;
}

.datepicker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.datepicker input {
  width: 150px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.datepicker input::-webkit-input-placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.datepicker input:-ms-input-placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.datepicker input::-ms-input-placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.datepicker input::placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.dropdown__input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #1F2041;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.dropdown__input:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.dropdown__guests {
  position: relative;
}

.dropdown__guests .dropdown__input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #1F2041;
  opacity: 0.75;
}

.dropdown__guests .dropdown__input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #1F2041;
  opacity: 0.75;
}

.dropdown__guests .dropdown__input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #1F2041;
  opacity: 0.75;
}

.dropdown__guests .dropdown__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #1F2041;
  opacity: 0.75;
}

.dropdown__input-arrow {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  bottom: 0;
  right: 0.875rem;
  width: 1rem;
  cursor: pointer;
}

.dropdown__modal {
  position: absolute;
  display: none;
  width: 318px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #1F2041;
  background-color: #fff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  z-index: 38;
}

.dropdown__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7px;
}

.dropdown__item {
  margin-top: 19px;
  margin-bottom: 0;
}

.dropdown__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dropdown__amount .dropdown__amount-minus, .dropdown__amount .dropdown__amount-plus {
  width: 28px;
  height: 28px;
  background-color: #fff;
  color: #1F2041;
  opacity: 0.75;
  border: 1px solid rgba(31, 32, 65, 0.3);
  border-radius: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
}

.dropdown__amount .dropdown__amount-minus-disabled {
  color: rgba(31, 32, 65, 0.5);
  border: 1px solid rgba(31, 32, 65, 0.1);
  pointer-events: none;
}

.dropdown__amount .dropdown__amount-number {
  color: #1F2041;
  font-weight: 700;
  font-size: 12px;
}

.dropdown__clear, .dropdown__apply {
  padding: 0;
  border: none;
  font-weight: 700;
  font-size: 12px;
  color: #BC9CFF;
  background-color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.signin {
  padding: 172px 0px;
  width: auto;
  height: 684px;
  background-image: url(/src/img/sing-in.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.signin__container {
  max-width: 1360px;
  padding: 0 15px;
  margin: 0 auto;
}

.signin__form {
  margin: 0 auto;
  max-width: 380px;
  padding: 40px 30px;
  background: #FFF;
  border: 1px solid black;
  -webkit-box-shadow: 0px 0px 25px black;
          box-shadow: 0px 0px 25px black;
  border-radius: 4px;
}

.signin__form-heading {
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.signin__form-input {
  margin-bottom: 10px;
}

.signin__btn {
  margin-top: 20px;
}

.signin__form-createakk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signin__form-createakk .signin__form-createakk-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.reg {
  padding-top: 19px;
  width: auto;
  height: 703px;
  background-image: url(/src/img/sing-in.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.reg__container {
  max-width: 1360px;
  padding: 0 15px;
  margin: 0 auto;
}

.reg-form {
  margin: 0 auto;
  max-width: 380px;
  padding: 40px 30px;
  background: #FFF;
  border: 1px solid black;
  -webkit-box-shadow: 0px 0px 25px black;
          box-shadow: 0px 0px 25px black;
  border-radius: 4px;
}

.reg-form__heading {
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.reg-form__input {
  margin-bottom: 10px;
}

.reg-btn {
  margin-top: 20px;
}

.reg-form__createakk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reg-form__createakk .reg-form__createakk_text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.reg-form__text {
  margin-top: 19px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.reg-form__gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reg-form__radio {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  outline: none;
  border: 1px solid rgba(31, 32, 65, 0.25);
  cursor: pointer;
}

.reg-form__radio:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 3.8px auto;
  border-radius: 50%;
}

.reg-form__radio:checked:before {
  background: #BC9CFF;
}

.reg-form__radio:checked {
  border-color: #BC9CFF;
}

.reg-form__radio_text {
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.reg-form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reg-form__toggle_text {
  margin-top: 3px;
  margin-left: 10px;
  font-weight: 400;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75);
}

.reg-form__toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  cursor: pointer;
  height: 20px;
  width: 40px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.reg-form__toggle:focus {
  outline: 0;
}

.reg-form__toggle:after {
  content: '';
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  margin: 0.19rem;
  border-radius: 50%;
  background: rgba(31, 32, 65, 0.25);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.reg-form__toggle:checked {
  border-color: #BC9CFF;
}

.reg-form__toggle:checked:after {
  -webkit-transform: translate(20px);
          transform: translate(20px);
  background: #BC9CFF;
}

/* Footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  margin: auto;
  padding: 104px 140px 100px 140px;
}

.footer-left {
  width: 260px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.footer-left__text {
  margin-top: 20px;
}

.footer__item-bold {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  margin-bottom: 21px;
}

.footer-item {
  margin-bottom: 20px;
}

.footer-link {
  color: #1F2041;
  opacity: .5;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.footer-subscription {
  width: 260px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.footer-subscription__item-text {
  margin-bottom: 20px;
}

.footer-subscription__item-input {
  position: relative;
}

.footer-subscription__input-icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  bottom: 0;
  right: 0.875rem;
  width: 1rem;
  cursor: pointer;
}

.footer-subscription__item-text, .footer-left__text {
  color: #1F2041;
  opacity: .75;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  margin: auto;
  padding: 23px 140px 23px 140px;
  border-top: 1px solid rgba(31, 32, 65, 0.1);
}

.footer-social__text {
  margin: 0;
  color: #1F2041;
  opacity: .75;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social__item:not(:last-child) {
  margin-right: 20px;
}

.footer-social__icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center center;
}

.footer-social__icon-twitter {
  width: 24px;
  height: 24px;
  background-image: url(/src/img/icon-twitter.svg);
}

.footer-social__icon-facebook {
  width: 24px;
  height: 24px;
  background-image: url(/src/img/icon-facebook.svg);
}

.footer-social__icon-instagram {
  width: 24px;
  height: 24px;
  background-image: url(/src/img/icon-instagram.svg);
}
/*# sourceMappingURL=style.css.map */