/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v23-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v23-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v23-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v23-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  border: 0;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

.btn-clear {
  position: relative;
  padding: 8px 18px;
  color: #BC9CFF;
  background: #fff;
  background-clip: padding-box;
  border: solid 2px transparent;
  border-radius: 22px;
}

.btn-clear:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

/* Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  margin: auto;
  padding: 18px 140px 18px 140px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 20px;
}

.nav-btn:not(:last-child) {
  margin-right: 20px;
}

.nav-item img {
  margin-left: 5px;
}

.nav-link {
  color: #1F2041;
  opacity: .5;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.nav-linc__about {
  font-weight: 700;
  opacity: 1;
}

.login-btn:not(:last-child) {
  margin-right: 20px;
}

.login-user {
  padding: 6px 0 6px 20px;
  color: #1F2041;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border-left: 1px solid rgba(31, 32, 65, 0.1);
}

.block-content {
  padding: 70px 140px 18px 140px;
  height: 830px;
  background-image: url(/src/img/image-content-1.png);
}

.block-content .block-content__text {
  position: relative;
  margin-left: auto;
  width: 297px;
  top: 40%;
}

.form-search {
  width: 380px;
  height: 374px;
  padding: 40px 30px 30px 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form-search__guests-label {
  display: block;
}

.datepicker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.datepicker input {
  width: 150px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.datepicker input::-webkit-input-placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.datepicker input:-ms-input-placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.datepicker input::-ms-input-placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.datepicker input::placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

/* Footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  margin: auto;
  padding: 104px 140px 100px 140px;
}

.footer-left {
  width: 260px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.footer-left__text {
  margin-top: 20px;
}

.footer__item-bold {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  margin-bottom: 21px;
}

.footer-item {
  margin-bottom: 20px;
}

.footer-link {
  color: #1F2041;
  opacity: .5;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.footer-subscription {
  width: 260px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.footer-subscription__item-text {
  margin-bottom: 20px;
}

.footer-subscription__input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #1F2041;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.footer-subscription__input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #1F2041;
  opacity: .25;
}

.footer-subscription__input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #1F2041;
  opacity: .25;
}

.footer-subscription__input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #1F2041;
  opacity: .25;
}

.footer-subscription__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #1F2041;
  opacity: .25;
}

.footer-subscription__input:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.footer-subscription__item-input {
  position: relative;
}

.footer-subscription__input-icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  bottom: 0;
  right: 0.875rem;
  width: 1rem;
  cursor: pointer;
}

.footer-subscription__item-text, .footer-left__text {
  color: #1F2041;
  opacity: .75;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  margin: auto;
  padding: 23px 140px 23px 140px;
  border-top: 1px solid rgba(31, 32, 65, 0.1);
}

.footer-social__text {
  margin: 0;
  color: #1F2041;
  opacity: .75;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social__item:not(:last-child) {
  margin-right: 20px;
}

.footer-social__icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center center;
}

.footer-social__icon-twitter {
  width: 24px;
  height: 24px;
  background-image: url(/src/img/icon-twitter.svg);
}

.footer-social__icon-facebook {
  width: 24px;
  height: 24px;
  background-image: url(/src/img/icon-facebook.svg);
}

.footer-social__icon-instagram {
  width: 24px;
  height: 24px;
  background-image: url(/src/img/icon-instagram.svg);
}
/*# sourceMappingURL=style.css.map */