.number__container 
    ul.number__list
        li.number__item
            include ../number-slider/number-slider
        li.number__item.number__number-price
            h2 №888
                p.number__lux ЛЮКС
            p.number__price <b>9990Р</b> в сутки
        li.number__item.number__number-rating
            include ../rating/rating 
            p.number__reviews <b>145</b> Отзывов
